# ======================
# Server Configuration
# ======================
PORT=3622
NODE_ENV=development

# ======================
# Admin API
# ======================
ADMIN_KEY=12345678

# ======================
# Database (PostgreSQL)
# ======================
DATABASE_URL=postgresql://your-url-here

# ======================
# Logging
# ======================
LOG_LEVEL=debug
